* {
  font-family: "Exo 2", sans-serif;
}
:root {
  --main-color: #7f22fe;
  --bg-nav-color: #f5f3ff;
  --section-padding: 70px;
  --main-transition: 0.4s;
  --bg-section: #f9fafb;
}
a {
  color: inherit;
}
img {
  width: 100%;
}
.text-primary {
  color: var(--main-color) !important;
}
nav ul li a {
  position: relative;
  display: inline-block;
}
nav ul li a::after {
  content: "";
  position: absolute;
  transition: var(--main-transition) ease-in-out;
  bottom: 5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--main-color);
}
nav ul li a:hover::after {
  width: 100%;
  color: var(--main-color) !important;
}
.nav-link,
.active {
  transition: var(--main-transition);
}
.nav-link:hover,
.active:hover {
  color: var(--main-color);
}
.active {
  color: var(--main-color) !important;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

@media (max-width: 992px) {
  nav ul li a::after {
    display: none;
  }

  nav ul li {
    transition: var(--main-transition);
    border-radius: 8px;
    padding: 12px;
  }
  nav ul li:hover {
    background-color: var(--bg-nav-color);
  }
  nav ul li i {
    transition: var(--main-transition);
  }
  nav ul li:hover i {
    color: var(--main-color) !important;
  }
}
.herosection {
  background-image:
    linear-gradient(to right, #4d179acc, #59168bcc),
    url(../images/hero-bg-img.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.herosection .container h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 24px;
}
.herosection .container p {
  font-size: 18px;
  max-width: 40rem;
  margin-bottom: 48px;
}
.herosection .container {
  width: 60%;
}
.herosection .form-select {
  appearance: none;
  background-image: none !important;
}
.form-control:hover,
.form-control:focus,
.form-select:hover,
.form-select:focus {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 1px 2px var(--main-color);
}
.btn-primary {
  background-color: var(--main-color);
  border: none;
  transition: var(--main-transition);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #7e00de;
}
.Featured-Properties {
  padding: var(--section-padding) 10px;
  background-color: var(--bg-section);
}
.section-heading span {
  background-color: #f9f5ff;
  color: var(--main-color);
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}
.section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -40%;
  background: linear-gradient(to right, var(--main-color), transparent);
}
.section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -40%;
  background: linear-gradient(to left, var(--main-color), transparent);
}
.section-heading h2 {
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(to right, var(--main-color) 30%, #f89700 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-heading p {
  max-width: 42rem;
  color: #4a5565;
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease-in-out;
}
.card-tag {
  top: 10px;
  left: 20px;
  padding: 5px 8px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
}
.card-tag-2 {
  top: 10px;
  left: 20px;
  padding: 5px 8px;
  background-color: #00a63e;
  color: white;
  border-radius: 10px;
}
.card-tag-3 {
  top: 10px;
  left: 20px;
  padding: 5px 8px;
  background-color: #e17100;
  color: white;
  border-radius: 10px;
}
.card-emotion {
  top: 10px;
  right: 20px;
  padding: 10px 8px;
  border-radius: 15px;
  background-color: #ebeced;
}
.card-emotion:hover i {
  color: red !important;
}
.card-img-footer {
  bottom: 10px;
  left: 20px;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  border-radius: 15px;
  font-size: 12px;
}
.foot-prop img {
  width: 40px;
  border-radius: 50%;
}
.card-end-foot {
  transition: var(--main-transition);
  background-color: #ede9fe;
  padding: 10px;
  border-radius: 15px;
}
.card-end-foot:hover {
  background-color: #ddd6ff;
}
.card {
  transition: var(--main-transition) ease-in-out;
  overflow: hidden;
}
.position-relative {
  overflow: hidden;
}
.card:hover .card-img-top {
  transform: scale(1.1);
}
.our-services {
  padding: var(--section-padding);
}
.our-services .section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -50%;
  background: linear-gradient(to right, var(--main-color), transparent);
}
.our-services .section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -50%;
  background: linear-gradient(to left, var(--main-color), transparent);
}
.our-service-tag-icon1 {
  padding: 10px;
  border-radius: 10px;
  background-color: #ede9fe;
}
.service-ratio1 {
  bottom: -10px;
  left: -10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.our-service-tag-icon2 {
  padding: 10px;
  border-radius: 10px;
  background-color: #dbfce7;
}
.btn-secondary {
  background-color: #00a63e;
  border: none;
  transition: var(--main-transition);
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #008235;
}
.service-ratio2 {
  bottom: -10px;
  right: -10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.text-green {
  color: #00a63e;
}
.our-service-tag-icon3 {
  padding: 10px;
  border-radius: 10px;
  background-color: #fef9c2;
}
.btn-info {
  background-color: #d08700;
  transition: var(--main-transition);
  border: none;
  color: white;
}
.btn-info:hover {
  background-color: #a65f00;
  color: white;
}
.text-info {
  color: #d08700 !important;
}
.our-service-tag-icon4 {
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e7ff;
}
.btn-warning {
  background-color: #4f39f6;
  transition: var(--main-transition);
  border: none;
  color: white;
}
.btn-warning:hover {
  background-color: #432dd7;
  color: white;
}
.text-warning {
  color: #4f39f6 !important;
}
.nav-tabs .nav-link.active {
  color: #7f22fe;
  background-color: transparent;
}
.nav-tabs .nav-link {
  transition: var(--main-transition);
  border: none;
}
.nav-tabs .nav-link:focus {
  background-color: #f5f3ff;
  border-bottom: 2px solid var(--main-color);
}
.nav-tabs .nav-link:focus i,
.nav-tabs .nav-link:focus span {
  color: var(--main-color) !important;
}
.nav-tabs .nav-link:hover {
  background-color: #f5f3ff;
  border-bottom: 2px solid #dbd4fc;
}
.Testimonials {
  padding: var(--section-padding);
  background: linear-gradient(to right, #4d169a, #5a178b);
}
.Testimonials .section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -55%;
  background: linear-gradient(to right, #f89469, transparent);
}
.Testimonials .section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -55%;
  background: linear-gradient(to left, #f89469, transparent);
}
.Testimonials .section-heading h2 {
  background: linear-gradient(to right, white, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
