* {
  font-family: "Exo 2", sans-serif;
}
:root {
  --main-color: #7f22fe;
  --bg-nav-color: #f5f3ff;
  --section-padding: 70px;
  --main-transition: 0.4s;
  --bg-section: #f9fafb;
}
a {
  color: inherit;
}
img {
  width: 100%;
}
.text-primary {
  color: var(--main-color) !important;
}
nav ul li a {
  position: relative;
  display: inline-block;
}
nav ul li a::after {
  content: "";
  position: absolute;
  transition: var(--main-transition) ease-in-out;
  bottom: 5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--main-color);
}
nav ul li a:hover::after {
  width: 100%;
  color: var(--main-color) !important;
}
.nav-link,
.active {
  transition: var(--main-transition);
}
.nav-link:hover,
.active:hover {
  color: var(--main-color);
}
.active {
  color: var(--main-color) !important;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

@media (max-width: 992px) {
  nav ul li a::after {
    display: none;
  }

  nav ul li {
    transition: var(--main-transition);
    border-radius: 8px;
    padding: 12px;
  }
  nav ul li:hover {
    background-color: var(--bg-nav-color);
  }
  nav ul li i {
    transition: var(--main-transition);
  }
  nav ul li:hover i {
    color: var(--main-color) !important;
  }
}
.herosection {
  background-image:
    linear-gradient(to right, #4d179acc, #59168bcc),
    url(../images/hero-bg-img.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-block: var(--section-padding);
}
.herosection .container h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 24px;
}
.herosection .container p {
  font-size: 18px;
  max-width: 40rem;
  margin-bottom: 48px;
}
.herosection .container {
  width: 60%;
}
.herosection .form-select {
  appearance: none;
  background-image: none !important;
}
.form-control:hover,
.form-control:focus,
.form-select:hover,
.form-select:focus {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 1px 2px var(--main-color);
}
.btn-primary {
  background-color: var(--main-color);
  border: none;
  transition: var(--main-transition);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #7e00de;
}
.Featured-Properties {
  padding: var(--section-padding) 10px;
  background-color: var(--bg-section);
}
.section-heading span {
  background-color: #f9f5ff;
  color: var(--main-color);
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}
.section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -40%;
  background: linear-gradient(to right, var(--main-color), transparent);
}
.section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -40%;
  background: linear-gradient(to left, var(--main-color), transparent);
}
.section-heading h2 {
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(to right, var(--main-color) 30%, #f89700 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-heading p {
  max-width: 42rem;
  color: #4a5565;
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease-in-out;
}
.card-tag {
  top: 10px;
  left: 20px;
  padding: 5px 8px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
}
.card-tag-2 {
  top: 10px;
  left: 20px;
  padding: 5px 8px;
  background-color: #00a63e;
  color: white;
  border-radius: 10px;
}
.card-tag-3 {
  top: 10px;
  left: 20px;
  padding: 5px 8px;
  background-color: #e17100;
  color: white;
  border-radius: 10px;
}
.card-emotion {
  top: 10px;
  right: 20px;
  padding: 10px 8px;
  border-radius: 15px;
  background-color: #ebeced;
}
.card-emotion:hover i {
  color: red !important;
}
.card-img-footer {
  bottom: 10px;
  left: 20px;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  border-radius: 15px;
  font-size: 12px;
}
.foot-prop img {
  width: 40px;
  border-radius: 50%;
}
.card-end-foot {
  transition: var(--main-transition);
  background-color: #ede9fe;
  padding: 10px;
  border-radius: 15px;
}
.card-end-foot:hover {
  background-color: #ddd6ff;
}
.card {
  transition: var(--main-transition) ease-in-out;
  overflow: hidden;
}
.position-relative {
  overflow: hidden;
}
.card:hover .card-img-top {
  transform: scale(1.1);
}
.our-services {
  padding: var(--section-padding);
}
.our-services .section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -50%;
  background: linear-gradient(to right, var(--main-color), transparent);
}
.our-services .section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -50%;
  background: linear-gradient(to left, var(--main-color), transparent);
}
.our-service-tag-icon1 {
  padding: 10px;
  border-radius: 10px;
  background-color: #ede9fe;
}
.service-ratio1 {
  bottom: -10px;
  left: -10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.our-service-tag-icon2 {
  padding: 10px;
  border-radius: 10px;
  background-color: #dbfce7;
}
.btn-secondary {
  background-color: #00a63e;
  border: none;
  transition: var(--main-transition);
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #008235;
}
.service-ratio2 {
  bottom: -10px;
  right: -10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.text-green {
  color: #00a63e;
}
.our-service-tag-icon3 {
  padding: 10px;
  border-radius: 10px;
  background-color: #fef9c2;
}
.btn-info {
  background-color: #d08700;
  transition: var(--main-transition);
  border: none;
  color: white;
}
.btn-info:hover {
  background-color: #a65f00;
  color: white;
}
.text-info {
  color: #d08700 !important;
}
.our-service-tag-icon4 {
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e7ff;
}
.btn-warning {
  background-color: #4f39f6;
  transition: var(--main-transition);
  border: none;
  color: white;
}
.btn-warning:hover {
  background-color: #432dd7;
  color: white;
}
.text-warning {
  color: #4f39f6 !important;
}

.nav-tabs .nav-link {
  transition: var(--main-transition);
  border: none;
}
.nav-tabs .nav-link:focus {
  background-color: #f5f3ff;
  border-bottom: 2px solid var(--main-color);
}
.nav-tabs .nav-link:focus i,
.nav-tabs .nav-link:focus span {
  color: var(--main-color) !important;
}
.nav-tabs .nav-link:hover {
  background-color: #f5f3ff;
  border-bottom: 2px solid #dbd4fc;
}
.nav-tabs .nav-item .active {
  color: #7f22fe;
  background-color: #f5f3ff;
  border-bottom: 2px solid var(--main-color);
}
.nav-tabs .nav-item .active i {
  color: #7f22fe !important;
}
.nav-tabs .nav-item .active span {
  color: #7f22fe !important;
}
.Testimonials {
  padding: var(--section-padding);
  background: linear-gradient(to right, #4d169a, #5a178b);
}
.Testimonials .section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -55%;
  background: linear-gradient(to right, #f89469, transparent);
}
.Testimonials .section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -55%;
  background: linear-gradient(to left, #f89469, transparent);
}
.Testimonials .section-heading h2 {
  background: linear-gradient(to right, white, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-item .carsol-width {
  width: 70%;
}
.carousel-item img {
  width: 70px;
}
.carousel-item .row .d-flex p {
  max-width: 240px;
}
.carousel-indicators [data-bs-target] {
  height: 12px;
  width: 12px;
}
.carousel-control-next-icon {
  background-image: none;
}
.carousel-control-prev-icon {
  background-image: none;
}
.prev-carasol {
  background-color: #7245ac;
  transition: var(--main-transition);
}
.next-carasol {
  background-color: #7245ac;
  transition: var(--main-transition);
}
.faq {
  padding: var(--section-padding);
  background-color: #f9fafb;
}
.faq .section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -60%;
  background: linear-gradient(to right, var(--main-color), transparent);
}
.faq .section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -60%;
  background: linear-gradient(to left, var(--main-color), transparent);
}
.faq .section-heading h2 {
  background: linear-gradient(to right, var(--main-color), var(--main-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accordion-item {
  border: none;
}
.accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.accordion-button {
  transition: var(--main-transition) ease;
}
.accordion-button:hover {
  background-color: #f9fafb;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #000;
}
.contact {
  padding: var(--section-padding);
}
.contact .section-heading span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  right: -65%;
  background: linear-gradient(to right, var(--main-color), transparent);
}
.contact .section-heading span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 50%;
  left: -65%;
  background: linear-gradient(to left, var(--main-color), transparent);
}
.bg-primary {
  background-color: var(--main-color) !important;
}
.contact-card-phone {
  border: 2px solid gray;
  transition: var(--main-transition);
}
.contact-card-phone:hover {
  border: 1px solid var(--main-color) !important;
  transform: translateY(-15px);
}
.bg-phone {
  transition: var(--main-transition);
}
.contact-card-phone:hover .bg-phone {
  padding: 18px !important;
}
.contact-card-mail {
  border: 2px solid gray;
  transition: var(--main-transition);
}
.contact-card-mail:hover {
  border: 1px solid #9e26fe !important;
  transform: translateY(-15px);
}
.bg-mail {
  background-color: #9e26fe !important;
  transition: var(--main-transition);
}
.contact-card-mail:hover .bg-mail {
  padding: 18px !important;
}
.text-mail {
  color: #9e26fe;
}
.contact-card-location {
  border: 2px solid gray;
  transition: var(--main-transition);
}
.contact-card-location:hover {
  border: 1px solid #f3a8ff !important;
  transform: translateY(-15px);
}
.bg-location {
  background: linear-gradient(to right, #e553de, #f7904d) !important;
  transition: var(--main-transition);
}
.contact-card-location:hover .bg-location {
  padding: 18px !important;
}
.text-location {
  color: #e60076;
}

.contact-card-comments {
  border: 2px solid gray;
  transition: var(--main-transition);
}
.contact-card-comments:hover {
  border: 1px solid #a3b3ff !important;
  transform: translateY(-15px);
}
.bg-comments {
  background-color: #574bfb !important;
  transition: var(--main-transition);
}
.contact-card-comments:hover .bg-comments {
  padding: 18px !important;
}
.text-comments {
  color: #574bfb;
}
.bg-contact-info {
  background-color: #f6f7f8;
}
.text-size-contact {
  color: rgba(255, 255, 255, 0.875);
  font-size: 14px;
}
.social-media .facebook {
  padding: 12px;
  background: rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  transition: var(--main-transition);
}
.social-media .facebook:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.379);
}
.social-media .twitter {
  padding: 12px;
  background: rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  transition: var(--main-transition);
}
.social-media .twitter:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.379);
}
.social-media .instagram {
  padding: 12px;
  background: rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  transition: var(--main-transition);
}
.social-media .instagram:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.379);
}
.social-media .linkedin-in {
  padding: 12px;
  background: rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  transition: var(--main-transition);
}
.social-media .linkedin-in:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.379);
}
.social-media .youtube {
  padding: 12px;
  background: rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  transition: var(--main-transition);
}
.social-media .youtube:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.379);
}
footer {
  padding: 40px 20px;
  background: linear-gradient(to right, #4d1799 70%, #59168b);
}
.footer-dash {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.159);
}
.color-red {
  color: red;
}
textarea {
  resize: none;
}
.bg-secondary-subtle {
  background-color: #f9fafb !important;
}
.bg-formcheck {
  background-color: #f5f3ff;
}
.form-check-input:focus {
  background-color: var(--main-color);
  box-shadow: none;
}
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.contact .btn-primary {
  transition: var(--main-transition);
}
.contact .btn-primary:hover {
  background-color: var(--main-color);
  transform: translateY(-5px);
}
.Shape-up1 {
  position: absolute;
  background-color: #f9f4ff;
  border-radius: 50%;
  width: 20%;
  height: 300px;
  top: -5%;
  right: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.Shape-upsm1 {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 4px solid #ddd6ff;
  border-radius: 50%;
  bottom: 0;
  left: 0%;
}
.Shape-up2 {
  position: absolute;
  background-color: #f9f4ff;
  border-radius: 50%;
  width: 20%;
  height: 300px;
  bottom: -5%;
  left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-parent2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.Shape-upsm2 {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 4px solid #ddd6ff;
  border-radius: 50%;
  top: 0;
  right: 0%;
}
